<!--<div class="s_wrap">-->

<!--    <div class="s2-items">-->

<!--        <div class="container">-->

<!--            <div class="s2-items-container">-->

<!--                <div class="s2-item-wrap">-->
<!--                    <a href="#" class="s2-item">-->
<!--								<span class="img-wrap">-->
<!--									<img src="images/1.png" alt="Alt">-->
<!--								</span>-->
<!--                        <span class="s2-item-text">Разработка новой структуры управления бизнесом</span>-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="s2-item-wrap">-->
<!--                    <a href="#" class="s2-item">-->
<!--								<span class="img-wrap">-->
<!--									<img src="images/2.png" alt="Alt">-->
<!--								</span>-->
<!--                        <span class="s2-item-text">Консультации по предпродажной подготовке бизнеса</span>-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="s2-item-wrap">-->
<!--                    <a href="#" class="s2-item">-->
<!--								<span class="img-wrap">-->
<!--									<img src="images/3.png" alt="Alt">-->
<!--								</span>-->
<!--                        <span class="s2-item-text">Анализ стоимости бизнеса и активов</span>-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="s2-item-wrap">-->
<!--                    <a href="#" class="s2-item">-->
<!--								<span class="img-wrap">-->
<!--									<img src="images/4.png" alt="Alt">-->
<!--								</span>-->
<!--                        <span class="s2-item-text">Консультации с покупателями и сопровождение</span>-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="s2-item-wrap">-->
<!--                    <a href="#" class="s2-item">-->
<!--								<span class="img-wrap">-->
<!--									<img src="images/5.png" alt="Alt">-->
<!--								</span>-->
<!--                        <span class="s2-item-text">Юридический аудит приобретаемого актива</span>-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="s2-item-wrap">-->
<!--                    <a href="#" class="s2-item">-->
<!--								<span class="img-wrap">-->
<!--									<img src="images/6.png" alt="Alt">-->
<!--								</span>-->
<!--                        <span class="s2-item-text">Разработка оптимальной схемы приобретения актива</span>-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="s2-item-wrap">-->
<!--                    <a href="#" class="s2-item">-->
<!--								<span class="img-wrap">-->
<!--									<img src="images/7.png" alt="Alt">-->
<!--								</span>-->
<!--                        <span class="s2-item-text">Организация финансирования сделки</span>-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="s2-item-wrap">-->
<!--                    <a href="#" class="s2-item">-->
<!--								<span class="img-wrap">-->
<!--									<img src="images/8.png" alt="Alt">-->
<!--								</span>-->
<!--                        <span class="s2-item-text">Подготовка и сопровождение документации</span>-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="s2-item-wrap">-->
<!--                    <a href="#" class="s2-item">-->
<!--								<span class="img-wrap">-->
<!--									<img src="images/9.png" alt="Alt">-->
<!--								</span>-->
<!--                        <span class="s2-item-text">Получение разрешений в государственных органах</span>-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="s2-item-wrap">-->
<!--                    <a href="#" class="s2-item">-->
<!--								<span class="img-wrap">-->
<!--									<img src="images/10pn g" alt="Alt">-->
<!--								</span>-->
<!--                        <span class="s2-item-text">Интеграция нового актива в схему управления холдингом</span>-->
<!--                    </a>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->

<!--    </div>-->

<!--</div>-->

<div class="s_wrap">
    <div class="s2-items">
        <div class="container">
            <div class="row s2-items-container">
                <div class="col-sm-2 s2-item-wrap">
                    <a href="#" class="s2-item">
                        <span class="img-wrap">
                            <img src="images/1.png" alt="Alt">
                        </span>
                        <span class="s2-item-text">Разработка новой структуры управления бизнесом</span>
                    </a>
                </div>
                <div class="col-sm-2 s2-item-wrap">
                    <a href="#" class="s2-item">
                        <span class="img-wrap">
                            <img src="images/2.png" alt="Alt">
                        </span>
                        <span class="s2-item-text">Консультации по предпродажной подготовке бизнеса</span>
                    </a>
                </div>
                <div class="col-sm-2 s2-item-wrap">
                    <a href="#" class="s2-item">
                        <span class="img-wrap">
                            <img src="images/3.png" alt="Alt">
                        </span>
                        <span class="s2-item-text">Анализ стоимости бизнеса и активов</span>
                    </a>
                </div>
                <div class="col-sm-2 s2-item-wrap">
                    <a href="#" class="s2-item">
                        <span class="img-wrap">
                            <img src="images/4.png" alt="Alt">
                        </span>
                        <span class="s2-item-text">Консультации с покупателями и сопровождение</span>
                    </a>
                </div>
                <div class="col-sm-2 s2-item-wrap">
                    <a href="#" class="s2-item">
                        <span class="img-wrap">
                            <img src="images/5.png" alt="Alt">
                        </span>
                        <span class="s2-item-text">Юридический аудит приобретаемого актива</span>
                    </a>
                </div>
                <div class="col-sm-2 s2-item-wrap">
                    <a href="#" class="s2-item">
                        <span class="img-wrap">
                            <img src="images/6.png" alt="Alt">
                        </span>
                        <span class="s2-item-text">Разработка оптимальной схемы приобретения актива</span>
                    </a>
                </div>
                <div class="col-sm-2 s2-item-wrap">
                    <a href="#" class="s2-item">
                        <span class="img-wrap">
                            <img src="images/7.png" alt="Alt">
                        </span>
                        <span class="s2-item-text">Организация финансирования сделки</span>
                    </a>
                </div>
                <div class="col-sm-2 s2-item-wrap">
                    <a href="#" class="s2-item">
                        <span class="img-wrap">
                            <img src="images/8.png" alt="Alt">
                        </span>
                        <span class="s2-item-text">Подготовка и сопровождение документации</span>
                    </a>
                </div>
                <div class="col-sm-2 s2-item-wrap">
                    <a href="#" class="s2-item">
                        <span class="img-wrap">
                            <img src="images/9.png" alt="Alt">
                        </span>
                        <span class="s2-item-text">Получение разрешений в государственных органах</span>
                    </a>
                </div>
                <div class="col-sm-2 s2-item-wrap">
                    <a href="#" class="s2-item">
                        <span class="img-wrap">
                            <img src="images/10.png" alt="Alt">
                        </span>
                        <span class="s2-item-text">Интеграция нового актива в схему управления холдингом</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>