<div class="section-head col-md-10">
    <h2>Сделки M&amp;A</h2>
    <p><strong>Сделки cлияния и поглощения</strong> – это процессы укрупнения бизнеса и капитала.
        Популярность сделки слияния и поглощения приобрели в конце 80-х годов и сейчас они являются одним из
        основных движущих факторов развития бизнеса на макро и микроуровне. Эффективность сделок слияния и
        поглощения огромна и не вызывает сомнений. </p>
    <h3>Наши услуги по <a href="#">сопровождению сделок M&amp;A</a></h3>
</div>