<div class="col-md-2 col-sm-6 col-3">
    <a href="/" class="logo"><img src="../../images/logo.svg" alt="Armata Financical Group"></a>
</div>
<div class="col-lg-2 col-md-9 col-sm-6 col-9 order-lg-2">
    <div class="phone-wrap">
        <div class="phone">+7 (495) 00-99-56</div>
        <a class="toggle-mnu d-lg-none" href="#"><span></span></a>
    </div>
</div>
<div class="col-lg-8 col-sm-12 order-lg-1">
    <nav class="main-mnu">
        <ul>
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Оценка</a></li>
            <li><a href="#">Сделки M&amp;A</a></li>
            <li><a href="#">Бухгалтерские услуги</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
</div>
