$main-color: #F39F18;
$headers-color: #2c3949;
$body-color: #333;
$back-color: #394b5f;
$text-color: #fff;
$forms-color: #243343;
$form-text: #97a4b2;
$input-color: #34465A;
$color-section: #f9f9f9;
$color-bottom: #e5e5e5;

$helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;