@import "../../node_modules/bootstrap/scss/bootstrap";
//@import "./helper/padding";
//@import "./helper/font-size";
//@import "./helper/margin";
@import "../../node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/_bourbon";
@import "./variables";
@import "../libs/Magnific-Popup/magnific-popup";

@include font-face("PFCentroSlabProBold", "../fonts/PFCentroSlabProBold/PFCentroSlabProBold", $file-formats: eot woff ttf);
@include font-face("PFCentroSlabProMedium", "../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium", $file-formats: eot woff ttf);
@include font-face("RalewayBold", "../fonts/RalewayBold/RalewayBold", $file-formats: eot woff ttf);
@include font-face("RalewayRegular", "../fonts/RalewayRegular/RalewayRegular", $file-formats: eot woff ttf);
@include font-face("RalewaySemiBold", "../fonts/RalewaySemiBold/RalewaySemiBold", $file-formats: eot woff ttf);
@include font-face("RobotoBold", "../fonts/RobotoBold/RobotoBold", $file-formats: eot woff ttf);

body {
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: em(22px);
  font-family: "RalewayRegular", sans-serif;
  overflow-x: hidden;
  color: $body-color;
}

.jflex {
  justify-content: center;
  }

.hidden {
  display: none;
}

a, a:active, a:focus, a:hover {
  color: $main-color;
  text-decoration: underline;
  outline: 0;
}

.headers {
  font-family: "PFCentroSlabProMedium", $helvetica;
  text-transform: uppercase;
  font-weight: normal;
  color: $headers-color;
}

.before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.trans {
  transition: all .5s ease;
}


h1, h2, h3, h4, h5, h6 {
  @extend .headers;
  //line-height: em(22px);
}

h1 {
  font-size: em(50px);
}

h2 {
  font-size: em(32px);
}

h3 {
  font-size: em(26px);
}

b, strong {
  font-family: "RalewayBold", $helvetica;
  font-weight: normal;
}

.button-wrap {
  text-align: center;
}

.buttons {
  display: inline-block;
  border: none;
  background-color: $main-color;
  color: #111;
  font-family: "PFCentroSlabProBold", $helvetica;
  font-size: em(22px);
  padding: 12px 30px;
  border-bottom: #b97200 3px solid;
  transition: all .5s ease;
  text-decoration: none;

  &:hover {
    background-color: #ffb338;
    text-decoration: none;
    color: #111;
  }

  &:active {
    background-color: #db8c0e;
    text-decoration: none;
    color: #111;
  }

  &:focus {
    color: #111;
    text-decoration: none;
  }
}

.homesect {
  padding-top: 70px;
  background-color: $color-section;
  position: relative;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .section-head {
    margin-bottom: 65px;

    p {
      margin-top: 60px;
      text-align: center;

      a {
        font-family: "RalewayBold", $helvetica;
      }
    }

    h2 {
      text-align: center;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        height: 4px;
        width: 165px;
        background-color: $main-color;
        display: block;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    h3 {
      text-align: center;
      margin-top: 50px;
    }
  }

  .section-bottom {
    background-color: $color-bottom;
    padding: 50px 0;
    text-align: center;
  }

  &::before {
    content: '';
    height: 6px;
    width: 100%;
    position: absolute;
    top: -6px;
    background-image: url(../images/bah_1.png);
  }
}

.section_1 {
  .section-content {
    background-image: url(../images/s1_gray_bg.png);
    background-repeat: no-repeat;
    background-position: top;
  }
  .section-bottom {
    background-color: $headers-color;
  }
}


//1.header

@import "./1.header/header";
@import "./1.header/jumbatron";
@import "./1.header/form";
@import "./1.header/bottom";

//2.ocenka

@import "./2.ocenka/header";
@import "./2.ocenka/content";
@import "./2.ocenka/bottom";

//3.sdelki

@import "3.sdelki/header";
@import "3.sdelki/content";
@import "3.sdelki/bottom";

//4.buch_uslugi

@import "./4.buch_uslugi/header";
@import "./4.buch_uslugi/content";
@import "./4.buch_uslugi/bottom";

//5.preimuschestva

@import "./5.preimuschestva/header";
@import "./5.preimuschestva/content";
@import "./5.preimuschestva/bottom";


//6.kak_rabotaem

@import "./6.kak_rabotaem/header";
@import "./6.kak_rabotaem/content";
@import "./6.kak_rabotaem/bottom";

//7.svayzatsya

@import "./7.svayzatsya/header";

//8.nashi_raboti

@import "./8.nashi_raboti/header";

//9.professionali

@import "./9.professionali/header";
@import "./9.professionali/content";
@import "./9.professionali/form";

//10.footer

@import "./10.footer/footer";

@import "./media";



