<div>
    <h2>Отзывы клиентов</h2>
    <p>Послушайте, что о нас говорят благодарные клиенты:</p>
</div>
<div class="section-pb">
    <div class="slider">
        <div class="slide">
            <div class="container">
                <div class="row jflex">
                    <div class="col-md-10">
                        <div class="img-wrap">
                            <img src="../../images/team/1.jpg" alt="Review">
                        </div>
                        <h3>Михаил Алексеевич Потапов</h3>
                        <div class="slide-descr">ООО "Роскомнадзор"</div>
                        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                            Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных
                            единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет.
                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                            Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных
                            единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил
                            живет.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="row jflex">
                    <div class="col-md-10">
                        <div class="img-wrap">
                            <img src="../../images/team/2.jpg" alt="Review">
                        </div>
                        <h3>Михаил Алексеевич Потапов</h3>
                        <div class="slide-descr">ООО "Роскомнадзор"</div>
                        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                            Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных
                            единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет.
                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                            Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных
                            единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил
                            живет.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="row jflex">
                    <div class="col-md-10">
                        <div class="img-wrap">
                            <img src="../../images/team/3.jpg" alt="Review">
                        </div>
                        <h3>Михаил Алексеевич Потапов</h3>
                        <div class="slide-descr">ООО "Роскомнадзор"</div>
                        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                            Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных
                            единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет.
                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                            Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных
                            единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил
                            живет.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>