<div class="section-pb">

    <div class="container">

        <div class="row s4-items-container">

            <div class="cards">

                <div class="card card-off">
                    <div class="card-icon img-wrap"><img src="../../images/section_4/1.png" alt="Sales"></div>
                    <h4>Скидки</h4>
                    <p>Предоставляем всем нашим клиентам уникальную возможность получить скидку <strong>50%</strong>
                        на все услуги</p>
                </div>

                <div class="card card-off">
                    <div class="card-icon img-wrap"><img src="../../images/section_4/2.png" alt="Team"></div>
                    <h4>Команда</h4>
                    <p>У нас большой опыт работы в крупнейших консалтинговых компаниях</p>
                </div>

                <div class="card card-off">
                    <div class="card-icon img-wrap"><img src="../../images/section_4/3.png" alt="Time"></div>
                    <h4>Скорость</h4>
                    <p>Приступаем к выполнению обязательст в день обращения в нашу компанию</p>
                </div>

            </div>

        </div>

    </div>

</div>
