

<div class="col-md-2 col-sm-6 col-xs-4">
    <a href="/" class="logo"><img src="../../images/logo.svg" alt="Armata Financical Group"></a>
</div>
<div class="col-lg-8 hidden-md">
    <nav class="main-mnu">
        <ul>
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Оценка</a></li>
            <li><a href="#">Сделки M&amp;A</a></li>
            <li><a href="#">Бухгалтерские услуги</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
</div>

<div class="col-xl-2 col-md-10 col-sm-6 col-xs-8">
    <div class="phone-wrap">
        <div class="phone">+7 (495) 00-99-56</div>
        <a class="toggle-mnu" href="#"><span></span></a>
    </div>
</div>
<div class="col-sm-12 show-md">
    <nav class="main-mnu">
        <ul>
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Оценка</a></li>
            <li><a href="#">Сделки M&amp;A</a></li>
            <li><a href="#">Бухгалтерские услуги</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
</div>
