<div class="section-head">
    <h2>МЫ - ПРОФЕССИОНАЛЫ!</h2>
    <p>Наши специалисты являются профессионалами высочайшего класса, лауреатами и призерами многих конкурсов и
        первенств
        в области финансов и бухгалтерии. За своими плечами имеют богатый опыт осуществления проектов в области
        оценки,
        ведения бухгалтерии, слияний и присоединений в сферах строительства, жилищно-коммунальных услуг,
        производства,
        аэрокосмической промышленности и прочих.</p>
</div>
<div class="s8-items">
    <div class="row">
        <div class="s8-item col-lg-3 col-xs-6 col-md-6">
            <div class="img-wrap">
                <img src="../../images/icons/section_8/1.svg" alt="ACCA">
                <p>Диплом по налогообложению РФ (ДипНРФ), квалификация ACCA</p>
            </div>
        </div>
        <div class="s8-item col-lg-3 col-xs-6 col-md-6">
            <div class="img-wrap">
                <img src="../../images/icons/section_8/2.svg" alt="ACCA">
                <p>Аттестат профессионального бухгалтера Института профессиональных бухгалтеров России</p>
            </div>
        </div>
        <div class="s8-item col-lg-3 col-xs-6 col-md-6">
            <div class="img-wrap">
                <img src="../../images/icons/section_8/3.svg" alt="ACCA">
                <p>Аттестат налогового консультанта 2-й категории Палаты налоговых консультантов России</p>
            </div>
        </div>
        <div class="s8-item col-lg-3 col-xs-6 col-md-6">
            <div class="img-wrap">
                <img src="../../images/icons/section_8/4.svg" alt="ACCA">
                <p>Призер Первой всероссийской премии бухгалтеров строительной отрасли «Профессиональные грани-2011»</p>
            </div>
        </div>
    </div>
</div>
