<div class="section-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 info-item-wrap">
                <div class="info-item">
                    <h4><a href="#">Оценка ценных бумаг</a></h4>
                    <p>Определение рыночной стоимости ценных бумаг и документов</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 info-item-wrap">
                <div class="info-item">
                    <h4><a href="#">Оценка бизнеса и предприятий</a></h4>
                    <p>Профессиональная оценка бизнес-активов предприятия</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 info-item-wrap">
                <div class="info-item">
                    <h4><a href="#">Оценка недвижимости</a></h4>
                    <p>Профессиональная оценка жилого и нежилого имущества</p>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 info-item-wrap">
                <div class="info-item">
                    <h4><a href="#">Оценка машин и оборудования</a></h4>
                    <p>Профессиональная оценка машин и оборудования для бизнеса</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 info-item-wrap">
                <div class="info-item">
                    <h4><a href="#">Оценка инвестиционных проектов</a></h4>
                    <p>Независимая оценка бизнес проектов любого направления</p>
                </div>
            </div>

        </div>
    </div>
    <div class="s1-bottom-triangle">
        <img class="triangle-logo" src="../../images/logo_triangle.svg" alt="Armata Financical Group">
        <img class="scales hidden-xs" src="../../images/scales.png" alt="Scales">
    </div>
</div>
<div class="s1-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 info-item-wrap">
                <div class="info-item">
                    <h4><a href="#">Оценка нематериальных активов</a></h4>
                    <p>Определение стоимости нематериальных активов различных видов</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 info-item-wrap">
                <div class="info-item">
                    <h4><a href="#">Оценка себестоимости продукции</a></h4>
                    <p>Определение себестоимости продукции и ее прибыльности</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 info-item-wrap">
                <div class="info-item">
                    <h4><a href="#">Бизнес-планирование</a></h4>
                    <p>Разработка бизнес-плана и оценка его эффективности</p>
                </div>
            </div>
        </div>
    </div>

</div>